[user]
	email = cyril@lesiteimmo.com
	name = Cyril Mizzi

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	whitespace = trailing-space,space-before-tab

[alias]
	fs  = !git fetch && git status -sb
	st  = status
	s   = status -sb
	c   = checkout
	cm  = checkout master
	nb  = checkout -b
	up  = pull --rebase=preserve --autostash
	lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = !"git lg --all"
	ll  = !"rat --mode git.log --cmd 'git lg'"

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[apply]
	whitespace = nowarn

[pull]
	default = rebase

[merge]
	tool = kdiff3
	summary = true
	keepbackup = false

[cola]
	tabwidth = 4
	fontdiff = Source Code Pro for Powerline,8,-1,5,50,0,0,0,0,0
	textwidth = 80
	linebreak = false
	spellcheck = false

[rerere]
	enabled = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[gui]
	editor = vim
[commit]
	gpgsign = true
