/*
/*/
!.gitignore

# Directories
!/.zsh/
!/.vim/
!/.local/
!/.config/

# Files
!/.Xresources.default
!/.conkyrc.default
!/.stalonetrayrc.default
!/.screenrc
!/.vimrc
!/.zshrc
!/.tmux.conf
!/.gitconfig
!/.psqlrc
!/.screenrc
!/.conkyrc
~/.stalonetrayrc
!.gitkeep
/.vim/plugin/packer_compiled.lua
