/*
/*/

# Directories
!/.zsh/
!/.vim/
!/.local/
!/.config/

# Files
!/.Xresources.default
!/.conkyrc.default
!/.stalonetrayrc.default
!/.screenrc
!/.vimrc
!/.gitignore
!/.zshrc
!/.tmux.conf
!/.gitconfig
!/.psqlrc
!.gitkeep
