/*
/*/

################################################################################
# Local with binaries directory
################################################################################
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/tools/

################################################################################
# Vim configuration and directories
################################################################################
/.vim/plugged/*
/.vim/.netrwhist
!/.vim/
!/.vimrc

################################################################################
# Others
################################################################################
!/.gitignore
!/.zshrc
!/.tmux.conf
!/.gitconfig
!/.psqlrc
!.gitkeep
